#custom aliases
[ -f "$(command -v "wcd")" ]       && alias cd='. wcd'
[ -f "$(command -v "commacd")" ]   && . commacd #alias ,='. commacd' && alias ,,='. commacd' && alias ,,,='. commacd'
[ -f "$(command -v "extract")" ]   && alias e='extract'
[ -f "$(command -v "compress")" ]  && alias c='compress'
[ -f "$(command -v "trash")" ]     && alias rm='trash'
[ -f "$(command -v "xdg-open")" ]  && alias open='xdg-open'
[ -f "$(command -v "linphonec")" ] && alias voip='linphonec' && alias call='linphonec'
[ -f "$(command -v "colormake")" ] && alias make='LANGUAGE=en CFLAGS="-g -Wall" colormake' || alias make='LANGUAGE=en CFLAGS="-g -Wall" make'
[ -f "${HOME}/.irssi/config.gpg" ] && alias irssi='irssi --config=<(gpg -d "${HOME}"/.irssi/config.gpg)'
[ -f "${HOME}/.mailgun.gpg" ]      && alias mail='mailgun --config <(gpg -d "${HOME}"/.mailgun.gpg)'
[ -f "${HOME}/.pagekite.rc.gpg" ]  && alias pagekite='pagekite --optfile=<(gpg -d "${HOME}"/.pagekite.rc.gpg)'

alias addgroup.touser='usermod -a -G'
alias mkdir='mkdir -vp'
alias mv='mv -v'
#alias cp='cp -v'
alias ztup='setup'
alias fu-search="fu-search -c"
alias eix.exact='eix --exact'
alias print.192.168.1.11='rlpr -h -Plp -H192.168.1.11'
alias rip='abcde -o mp3'
alias paint='mtpaint'
alias barstatus.off='killall conky dzen2 > /dev/null 2>&1'
alias barstatus.on='barstatus.off; (conky | dzen2  -x 350 -y 749 -fn Inconsolata:size=9 -ta r -fg "#999999" -bg "#000000" &) 2> /dev/null'
alias cdrecord='wodim -eject -v speed=4 dev=/dev/scd0'
alias strip.idtags='sh -c '\''ffmpeg -i "${1}" -acodec copy -vcodec copy -map_metadata -1 "${1}".tagsless."${1##*.}" && mv "${1}".tagsless."${1##*.}" "${1}"'\'' -'
alias share.internet='_si() { sudo iptables -t nat -A POSTROUTING -o "${1}" -j MASQUERADE; echo 1 | sudo tee /proc/sys/net/ipv4/ip_forward }; _si'
alias youtube-dl.audio='youtube-dl --extract-audio --audio-quality 0'
#alias getpass='_getpass() { _g=$(printf "%s" "${*}" | md5sum | openssl enc -base64 | cut -c1-16); printf "%s" "${_g}"|xclip -selection clipboard 2>/dev/null|| printf "%s\\n" "${_g}"; }; _getpass'
alias uu='update && upgrade'
alias suspend.in='_suspend_in() { printf "%s\\n" "sleep ${1} && m-session-manager suspend"; sleep "${1}" && m-session-manager suspend; }; _suspend_in'
alias hibernate.in='_hibernate_in() { printf "%s\\n" "sleep ${1} && m-session-manager hibernate"; sleep "${1}" && m-session-manager hibernate; }; _hibernate_in'

#watch series/anime in streaming
alias watch.dragon.ball.z='if rtmpdump -h >/dev/null 2>&1; then livestreamer -l debug -p mplayer http://vaughnlive.tv/mega_animes worst; else printf "install rtmpdump and livestreamer to continue\\n"; fi'
alias watch.simpsons='if rtmpdump -h >/dev/null 2>&1; then livestreamer -l debug -p mplayer http://vaughnlive.tv/mega_simpson worst; else printf "install rtmpdump and livestreamer to continue\\n"; fi'
alias watch.peliculas.terror='if rtmpdump -h >/dev/null 2>&1; then livestreamer -l debug -p mplayer http://vaughnlive.tv/mega_extremo worst;  else printf "install rtmpdump and livestreamer to continue\\n"; fi'
alias watch.malcom='if rtmpdump -h >/dev/null 2>&1; then livestreamer -l debug -p mplayer http://vaughnlive.tv/megamalcolm worst; else printf "install rtmpdump and livestreamer to continue\\n"; fi'
alias watch.peliculas.accion='if rtmpdump -h >/dev/null 2>&1; then livestreamer -l debug -p mplayer http://vaughnlive.tv/mega_movieshd worst; else printf "install rtmpdump and livestreamer to continue \\n"; fi'

#best games in history
alias aom='xhost + >/dev/null; mkdir -p ~/.aom-savegame >/dev/null; sudo DIST="precise" ARCH=i386 pbuilder --login --configfile ~/.aom-pbuilderrc --basetgz ~/code/games/age-of-mythology-wine-ubuntu-precise-i386.base.tgz --hookdir /dev/null'
alias aoe2='xhost + >/dev/null; mkdir -p ~/.aoe2-savegame ~/.aoe2-player >/dev/null; sudo DIST="precise" ARCH=i386 pbuilder --login --configfile ~/.aoe2-pbuilderrc --basetgz ~/code/games/age-of-empires-II-wine-ubuntu-precise-i386.base.tgz --hookdir /dev/null'
alias warcraft3='xhost + >/dev/null; mkdir -p ~/.warcraft3-savegame >/dev/null; xrandr | awk "/+$/ {print \$1}" | sort -nr | awk "{print \$1; exit}" > ~/.warcraft3-savegame/max-resolution; sudo DIST="precise" ARCH=i386 pbuilder --login --configfile ~/.warcraft3-pbuilderrc --basetgz ~/code/games/warcraft3-frozen-wine-ubuntu-precise-i386.base.tgz --hookdir /dev/null'

#ubuntu-dev
alias bzr.debuild='bzr bd -- -S -uc -us'
alias ccache.ubuntu='CCACHE_DIR=$HOME/.ccache_ubuntu ccache'

#see version installed vs the updated one (in repositories)
alias policy='apt-cache policy'
alias core.package='sh -c '\''apt-cache show "${1}" | grep -i task >/dev/null && echo yes || echo no'\'' -'

alias pbuilder.precise.i386='sudo DIST="precise" ARCH=i386 pbuilder'
alias pbuilder.trusty.i386='sudo DIST="trusty" ARCH=i386 pbuilder'
alias pbuilder.xenial.i386='sudo DIST="xenial" ARCH=i386 pbuilder'
alias pbuilder.sid.i386='sudo DIST="sid" ARCH=i386 pbuilder'

alias pbuilder.precise.amd64='sudo DIST="precise" ARCH=amd64 pbuilder'
alias pbuilder.trusty.amd64='sudo DIST="trusty" ARCH=amd64 pbuilder'
alias pbuilder.xenial.amd64='sudo DIST="xenial" ARCH=amd64 pbuilder'
alias pbuilder.sid.amd64='sudo DIST="sid" ARCH=amd64 pbuilder'

#what to eat today?
#alias que.comer='_que_comer() { awk "/^\[/ {print \$0 \" ${1}\" \":\" NR}" "${1}" | shuf | head -1;}; _que_comer ~/misc/notes/comidas.notes'
alias que.comer='_que_comer() { qc="$(awk "/^\[/ {print \"${1}\" \":\" NR \"|\" \$0 }" "${1}" | \
                shuf | head -1 | tr "|" "\n")"; [ -z "${qc}" ] && return 1; \
                printf "%s\\n" "${qc}"; printf "Abriendo receta en 3 segundos ...\\n"; sleep 3s; \
                vim "$(printf "%s\\n" "${qc}" | head -1)"; }; _que_comer ~/misc/notes/comidas.notes'
#alias que.desayunar='_que_desayunar() { awk "/^\[/ {print \$0 \" ${1}\" \":\" NR}" "${1}" | shuf | head -1;}; _que_desayunar ~/misc/notes/desayunos.notes'
alias que.desayunar='_que_desayunar() { qc="$(awk "/^\[/ {print \"${1}\" \":\" NR \"|\" \$0 }" "${1}" | \
                shuf | head -1 | tr "|" "\n")"; [ -z "${qc}" ] && return 1; \
                printf "%s\\n" "${qc}"; printf "Abriendo receta en 3 segundos ...\\n"; sleep 3s; \
                vim "$(printf "%s\\n" "${qc}" | head -1)"; }; _que_desayunar ~/misc/notes/desayunos.notes'
#alias que.cenar='_que_cenar() { awk "/^\[/ {print \$0 \" ${1}\" \":\" NR}" "${1}" | shuf | head -1;}; _que_cenar ~/misc/notes/cenas.notes'
alias que.cenar='_que_cenar() { qc="$(awk "/^\[/ {print \"${1}\" \":\" NR \"|\" \$0 }" "${1}" | \
                shuf | head -1 | tr "|" "\n")"; [ -z "${qc}" ] && return 1; \
                printf "%s\\n" "${qc}"; printf "Abriendo receta en 3 segundos ...\\n"; sleep 3s; \
                vim "$(printf "%s\\n" "${qc}" | head -1)"; }; _que_cenar ~/misc/notes/cenas.notes'
