#Ignore everything
/*
#Don't ignore dotfiles
!.*

#But ignore these
.adobe
.aptitude
.bash_eternal_history
.bash_history
.cache
.config
.dbus
.elinks
.esd_auth
.fehrc
.fontconfig
.gconfd
.glivrc
.gnupg
.gtk-bookmarks
.gstreamer-0.10
.img
.lesshst
.links2
.local
.macromedia
.mc
.mozilla
.mplayer
.mutt/
.muttrc
.pki
.pulse/
.pulse-cookie
.recently-used.xbel
.selected_editor
.ssh
.subversion
.sudo_as_admin_successful
.*.swp
.terminfo
.thumbnails
.translate_toolkit
.viminfo*
.vimperator/info
.virtaal/tm.db
.w3m
.wmii
.wm_style
.Xauthority
.xsession-errors
.zathura
