#Last review            Fri 09 Sep 2011 01:28:57 PM CDT
#Ignore everything
/*
#Don't ignore dotfiles
!.*

#But ignore these
.AbiSuite
.sxiv
.remmina
.adobe
.alien-arena
.appletviewer
.asadmin*
.asoundrc*
.aspell.*
.bashdb*
.bash_eternal_history
.bash_history
.bin
.bittorrent
.boumlrc
.byobu
.bzr.log
.cache
.ccache*
.checkbox
.compiz
.com.zerog.registry.xml
.config
.covers
.ctags
.ctrlp_cache
.cups
.cvspass
.dbus
.ddd
.diffuse
.directory
.dmenu_cache
.dmrc
.DownloadManager
.dreampie
.dynamag
.e
.easy_e17.conf*
.mcore
.enna
.exaile
.exchange
.fehbg
.fehrc
.festival_history
.fgfs
.filezilla
.flrec
.font*
.fontconfig
.NERDTreeBookmarks
.android
.bazaar
.cccache/
.et_patterns_remove
.ghc
.gist-vim
.goobook_cache
.icedtea/
.irssi/config.autosave
.lastpass
.m2
.pip
.processing
.pythonbrew/
.ssh/known_hosts.old
.vim/bundle/
.vim/spell/
.gconf*
.gconfd
.gegl*
.gem
.gerbview
.gftp
.ghttrack.cfg
.gimp*
.gitk
.gksu*
.glivrc
.glurp
.gmpc
.gnochm
.gnome*
.gntpositions
#.gnu*
#.gnupg
.golly
.grdc
.gstreamer-0.10
#.gtk*
.gtk-bookmarks
.gtkpod
.httrack.ini
.i3/logfile
.ICEauthority
.icons
.irssi/away.log
.irssi.logs
.jackdrc
.jagex*
.java
.jigl
.jmol
.meysnail.tb.js
.kicad
.last_backup
.launchpadlib
.lesshst
.liferea*
.links*
.links2
.linterweb
.local
.lyrics
.lyx
.macromedia
.matplotlib
.mc
.mcop*
.mixxx
.mono
.mozilla
.mozilla.back*
.mp3blaster
.mplayer
.msf*
.mtpaint
.mutt/cache/
.mutt/certificates
.mysql*
.nautilus
.nbi
.ncmpcpp
.neocomplcache
.neocon
.netx*
.newsbeuter
.nexuiz
._noip-2.1.9-1
.nvidia-settings-rc
.octave_hist
.ooo*
.openarena
.opendict
.openoffice.org
.packages.list
.Prismatik
.pan2
.pentadac*
.pgadmin3
.pgpass
.icedteaplugin
.magnifier.ini
.gtk-recordmydesktop
.pida*
.pki
.printer-groups.xml
.pulse/
.pulse-cookie
.purple
.pyhistory
.qemu-launcher
.qf
.qingy
.qt
.quakelive
.rage
.recently-used*
.rex
.sage
.scid
.screen*
.selected_editor
.service_proxy_dir
.shellshock
.sig
.silc
.sjeng
.sjphone
.skel
.ssh/authorized_keys
.ssh/id*
.ssh/known_hosts
.ssh/ugj*
.sticky-notes*
.subversion
.sudo_as_admin_successful
.sw*
.*.swp
.synaptic
.systemtap
.tdrc
.teamviewer
.terminfo
.tetris*
.texmf-var
.themes
.thumbnails
.thunderbird
.todo
.translate_toolkit
.tsclient
.tucan
.update-*
.vagalume
.viminf*
.vimperator/info
.vim/.twitvim_token_file
.vim/.VimballRecord
.virtaal/tm.db
.VirtualBox
.vlc
.w3m
.wcd
.wesnoth*
.whoami
.wine
.wireshark
.wmcliphis*
.wmii
.wmndrc
.wmpinboarddata
.wmrecord
.wm_style
.wxglade
.Xauthority
.xbmc
.xine
.xmdd*
.xmind
.xmms
.Xscrc
.xscreensaver-getimage.cache
.xsession-errors
.xvidcaprc
.y2log
.y2usersettings
.yast*
.zathura
.zenmap
.ZoiperCommunicator
