[user]
    name = chilicuil
    email = chilicuil@users.sourceforge.net

[alias]
    ci = commit
    co = checkout
    st = status
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    praise = blame

[core]
    editor = vim

[merge]
    tool = vimdiff
