#Last review            Sat 26 Dec 2015 01:45:55 PM CST
#Ignore everything
/*
#Don't ignore dotfiles
!.*

#But ignore these
.*.swp
.3T/
.AbiSuite
.DownloadManager
.ICEauthority
.NERDTreeBookmarks
.Prismatik
.Skype/
.VirtualBox
.Xauthority
.Xdefaults-theme-colorize
.Xscrc
.ZoiperCommunicator
._noip-2.1.9-1
.adobe
.alien-arena
.alsaplayer/
.android
.ansible/
.aoe2/
.aom-savegame/
.aom/
.appletviewer
.arduino
.aria2/
.asadmin*
.asoundrc*
.aspell.*
.bash_eternal_history
.bash_history
.bashdb*
.bazaar
.bin
.bittorrent
.bosonx
.boumlrc
.byobu
.bzr.log
.cache
.ccache*
.cccache/
.checkbox
.com.zerog.registry.xml
.compiz
.config/Kingsoft/
.config/LightTable/
.config/Popcorn-Time/
.config/QtProject.conf
.config/Skype/
.config/Thunar/
.config/VirtualBox
.config/dconf/
.config/feh/
.config/google-chrome/
.config/gpick/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/hub
.config/inkscape/
.config/key-mon/
.config/kingsoft/
.config/menus/
.config/mimeapps.list
.config/mps/
.config/spacefm/
.config/spotify/
.config/sublime-text-2/
.config/sublime-text-3/
.config/teamviewer/
.config/terminology/
.config/transmission/
.config/umplayer/
.config/vlc/
.config/wesnoth/
.config/xarchiver/
.config/xfce4/
.covers
.cpan/
.ctags
.ctrlp_cache
.cups
.cvspass
.dbus
.ddd
.diffuse
.directory
.dmenu_cache
.dmrc
.docker/
.dreampie
.dvdcss/
.dynamag
.e
.easy_e17.conf*
.elinks/
.enna
.esd_auth
.et_patterns_remove
.eternalize-data
.exaile
.exchange
.expo/
.fehbg
.fehrc
.festival_history
.fgfs
.filezilla
.flrec
.font*
.fontconfig
.gconf*
.gconfd
.gegl*
.gem
.genpass-cache
.gerbview
.getpass-kill-clipboard
.gftp
.ghc
.ghttrack.cfg
.gimp*
.gist-vim
.gitk
.gksu*
.glivrc
.glurp
.gmpc
.gnochm
.gnome*
.gntpositions
.gnupg/
.golly
.goobook_cache
.gopherrc
.grdc
.gstreamer-0.10
.gtk-bookmarks
.gtk-recordmydesktop
.gtkpod
.history
.httrack.ini
.i3/logfile
.icedtea/
.icedteaplugin
.icons
.install4j
.irssi.logs
.irssi/away.log
.irssi/config.autosave
.jackdrc
.jagex*
.java
.jigl
.jmol
.kchmviewer
.kde/
.kicad
.kingsoft/
.kube/
.last_backup
.lastpass
.launchpadlib
.lesshst
.liferea*
.links*
.links2
.linphone*
.linterweb
.local/
.lyrics
.lyx
.m2
.macromedia
.magnifier.ini
.mailcap
.matplotlib
.mc
.mcop*
.mcore
.meysnail.tb.js
.mime.types
.minetest/
.mixxx
.mono
.movietime-suspend-inhibit
.mozilla
.mozilla-backups/
.mozilla.back*
.mp3blaster
.msf*
.mtpaint
.mutt/accounts/
.mutt/cache/
.mutt/certificates
.mysql*
.nautilus
.nbi
.ncmpcpp/error.log
.neocomplcache
.neocon
.netbeans-derby/
.netbeans/
.netx*
.newsbeuter
.nexuiz
.nvidia-settings-rc
.octave_hist
.ooo*
.openarena
.opendict
.openoffice.org
.oracle_jre_usage/
.other/
.p2/
.packages.list
.packer.d/
.pan2
.pentadac*
.pex/
.pgadmin3
.pgpass
.pianocat/
.pida*
.pip
.pki
.printer-groups.xml
.processing
.pulse-cookie
.pulse/
.purple
.pyhistory
.python_history
.pythonbrew/
.qemu-launcher
.qf
.qingy
.qt
.quakelive
.rage
.recently-used*
.remmina
.rex
.rnd
.sage
.scid
.screen*
.selected_editor
.service_proxy_dir
.shellshock
.shundle*
.sig
.silc
.sjeng
.sjphone
.skel
.soapuios/
.sqldeveloper/
.ssh/authorized_keys
.ssh/correo.io.id_rsa
.ssh/correo.io.id_rsa.pub
.ssh/deploy
.ssh/deploy.pub
.ssh/id*
.ssh/known_hosts
.ssh/known_hosts.old
.ssh/ugj*
.sticky-notes*
.subversion
.sudo_as_admin_successful
.sw*
.sxiv
.synaptic
.systemtap
.tdrc
.teamviewer
.terminfo
.terraform.d/
.tetris*
.texmf-var
.themes
.thumbnails
.thunderbird
.tmux
.todo
.translate_toolkit
.tsclient
.tucan
.update-*
.vagalume
.vagrant*
.vim/
.vim/.VimballRecord
.vim/.twitvim_token_file
.vim/bundle/
.vim/spell/
.viminf*
.vimperator/info
.virtaal/tm.db
.virtualbox/
.vlc
.vnc/
.vscode/
.w3m
.warcraft3
.warcraft3-savegame/
.wcd
.wesnoth*
.wget-hsts
.whoami
.wine
.wireshark
.wm_style
.wmcliphis*
.wmii
.wmndrc
.wmpinboarddata
.wmrecord
.workrave
.wxglade
.xbmc
.xine
.xmdd*
.xmind
.xmms
.xscreensaver-getimage.cache
.xsession-errors
.xvidcaprc
.y2log
.y2usersettings
.yast*
.zathura
.zenmap
