# Global snippets
# (c) holds no legal value ;)
snippet c)
	`&enc[:2] == "utf" ? "©" : "(c)"` Copyright `strftime("%Y")` ${1:`g:snips_author`}. All Rights Reserved.${2}
snippet date
	`strftime("%Y-%m-%d")`
snippet timestamp
	`strftime("%c")`
snippet last
	Last review            `strftime("%c")`${1}
snippet TODO
	TODO `strftime("%d-%m-%Y %H:%M")` => ${1:comment}
snippet alias
	alias ${1:shortcut}='${2:long command}'${3}
# Hash Pointer
snippet .
	=>
snippet -
	->
